body{
    background-color: black;
    color: white;
}
.form-body{
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.span-text{
    background-color: deepskyblue;
    border-color: blue;
    color: white;
    border-radius: 8px;
}

.span-body{
    border-color: blue;
    border-radius: 8px;
}

.span-body:focus{
    border-color: lightblue;
    border-width: 2px;
}
.user-img{
    margin: 20px 20px;
    height: 10rem;
    width: 10rem;
}

.extra{
    margin-bottom: 1rem;
    font-family: inherit;
    color: darkgray;
}

.linker{
    margin: 20px;
}

.fields{
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
